/* 
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: MIT-0
*/

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.field__label {
  font-size: 1rem;
  color: #304050;
}

.field__value {
  margin: 0.5rem 0 0.15rem 0;
  font-size: 0.8rem;
  font-weight: 500;
  color: #606060;
}

.information {
  margin-top: auto;
  padding-top: 1rem;
}

.refresh {
  padding-top: 0.25rem;
}
