#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.el-header {
  background: linear-gradient(225deg, #FE5151, #BD0916);;
  color: #FFFFFF;
  font-size: 24px;
  height:50px !important;
}
.el-form-item {
  margin-top: 5 !important;
  margin-bottom: 0 !important;
}
.map {
  height: 80vh;
}
.el-main {
  padding: 0px !important;
}
.el-card__body {
  padding: 0px !important;
}



