@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
#app {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.el-header {
  background: linear-gradient(225deg, #fe5151, #bd0916);;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: right;
}
.el-form-item {
  margin-bottom: 0px !important;
  color: #FFFFFF;
}

.map {
  height: 70vh;
}
