/* 
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
SPDX-License-Identifier: MIT-0
*/
body {
  margin: 0;
}

.mapboxgl-popup-content,
.maplibregl-popup-content {
  padding: 20px 20px 15px;
}
