/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0 */

@tailwind base;
@tailwind components;
@tailwind utilities;

#loading-overlay {
  width: 100vw;
  height: calc(100vh - theme(height.12));
}

#marker-toast {
  left: calc(50vw - calc(theme(width.80) / 2));
}

#routing-menu {
  top: calc(theme(height.12) + 10px);
}
