/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: MIT-0 */

.routing-mode-selector .amplify-flex.amplify-radiogroup {
  width: 100%;
  gap: 0;
}

.custom-radio .amplify-radio__input + .amplify-radio__button {
  display: none;
}

.routing-mode-selector .amplify-flex.amplify-radiogroup > div > label {
  align-items: center;
  justify-content: center;
}

.routing-mode-selector
  .amplify-flex.amplify-radiogroup
  > div
  > label
  .amplify-radio__label {
  color: white;
}

.amplify-sliderfield > .amplify-sliderfield__label > span {
  font-size: var(--amplify-font-sizes-small);
  color: var(--amplify-colors-font-primary);
}
